<ul>
    <li class="{{ panel['instance_pooling_enabled'] ? 'enabled' : 'disabled' }}">
        <span>Instance pooling</span>
    </li>
    <li class="{{ panel['templating_enabled'] ? 'enabled' : 'disabled' }}">
        <span>Templating</span>
    </li>
    <li class="{{ panel['metastaz_product_enabled'] ? 'enabled' : 'disabled' }}">
        <span>Metastaz Product</span>
    </li>
</ul>
