{% extends 'MetastazTemplateBundle::template.html.twig' %}

{% block content %}

    <div class="form">
        {% include 'MetastazTemplateBundle:MetastazTemplate:templateFieldForm.html.twig' with params %}
    </div>

    <hr />

    <ul class="actions">
        <li>
            <a class="back" href="{{ path('metastaz_template_edit', { 'id': entity.getMetastazTemplateId() }) }}">
                Back to the template
            </a>
        </li>
        <li>
            <form action="{{ path('metastaz_template_field_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>

{% endblock %}
