{% extends 'MetastazTemplateBundle::template.html.twig' %}

{% block content %}

<div class="form_container">
    {% include 'MetastazTemplateBundle:MetastazTemplate:templateForm.html.twig' with params %}
</div>

<hr />

<ul class="actions">
    <li>
        <a class="back" href="{{ path('metastaz_template') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
