{% extends 'MetastazTemplateBundle::template.html.twig' %}

{% block content %}

{% include 'MetastazTemplateBundle:MetastazTemplate:templateForm.html.twig' with {'entity': entity, 'form': form} %}

<hr />

<ul class="actions">
    <li>
        <a class="back" href="{{ path('metastaz_template') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
