{% extends 'MetastazTemplateBundle::template.html.twig' %}

{% block content %}

<div class="form_container">
    {% include 'MetastazTemplateBundle:MetastazTemplate:templateFieldForm.html.twig' with params %}
</div>

<hr />

<ul class="actions">
    <li>
        <a class="back" href="{{ path('metastaz_template_edit', { 'id': template.getId() }) }}">
            Back to the template
        </a>
    </li>
</ul>
{% endblock %}
