{% extends 'MetastazTemplateBundle::template.html.twig' %}

{% block content %}

{% include 'MetastazTemplateBundle:MetastazTemplate:templateFieldForm.html.twig' with {'entity': entity, 'form': form} %}

<hr />

<ul class="actions">
    <li>
        <a class="back" href="{{ path('metastaz_template_edit', { 'id': entity.getMetastazTemplateId() }) }}">
            Back to the template
        </a>
    </li>
</ul>
{% endblock %}
