{% extends 'MetastazTemplateBundle::template.html.twig' %}

{% block content %}

<div class="form">
    <form action="#" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        {{ form_rest(form) }}
    </form>
</div>

<hr />

<ul class="actions">
    <li>
        <a class="back" href="{{ path('metastaz_template_edit', { 'id': entity.id }) }}">
            Back to the template
        </a>
    </li>
</ul>
{% endblock %}
