services:
    metastaz.listener:
        class: Metastaz\Listener\MetastazListener
        tags:
            - { name: doctrine.event_listener, event: postPersist }
#            - { name: doctrine.event_listener, event: postRemove }