{% extends 'MetastazDashboardBundle::base.html.twig' %}


{% block header_title %}Template{% endblock %}
{% set current = 'template' %}

{% block main %}
<div id="wrapper">
    {% block content %}{% endblock %}
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("jquery", "1.6.2");
</script>
{% endblock %}
