{% extends 'MetastazDashboardBundle::base.html.twig' %}


{% block header_title %}Template{% endblock %}
{% set current = 'template' %}

{% block main %}
<div id="wrapper">
    {% block content %}{% endblock %}
</div>
{% endblock %}
