{% extends 'MetastazDashboardBundle::base.html.twig' %}

{% block header_title %}Product{% endblock %}
{% set current = 'product' %}

{% block main %}
<div id="wrapper">
    {% block content %}{% endblock %}
</div>
{% endblock %}
