{% extends 'MetastazProductBundle::product.html.twig' %}

{% block content %}

<div class="form">
    {% include 'MetastazProductBundle:MetastazProduct:form.html.twig' with form_params %}
</div>

<div class="form">
    {% include 'MetastazProductBundle:MetastazProduct:form.html.twig' with metastaz_form_params %}
</div>

<hr />

<ul class="actions">
    <li>
        <a class="back" href="{{ path('metastaz_product') }}">
            <span>Back to the list</span>
        </a>
    </li>
    <li>
        <form action="{{ path('metastaz_product_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
