{% extends 'MetastazProductBundle::product.html.twig' %}

{% block main %}
<h1>MetastazProduct creation</h1>

<form action="{{ path('metastaz_product_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('metastaz_product') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
