.form form,
.form_container form {
    margin: 0 20px 20px 0;
    border: 1px solid #000;
    float: left;
    display: block;
    padding: 10px;
}

.form form fieldset,
.form_container form fieldset {
}

.form form fieldset label,
.form_container form fieldset label {
    float: left;
    margin-right: 20px;
    min-width: 120px;
}

.form form fieldset .inputs,
.form_container form fieldset .inputs {
    float: left;
}
